#gallery ul {margin: 0;padding:0;}
#gallery ul li {display: block;}


#gallery ul  {overflow: hidden;}
#gallery ul li {float: left;margin: 5px;}
#gallery ul li a {display: block;padding:5px;border:1px solid black;background: #fff;}
#gallery ul li a img {display: block;width: auto;height: 100px;}

#gallery ul li a:hover {border:1px solid red;}